# taobao 源，更快
registry=https://registry.npmmirror.com/

# 放在第一层
public-hoist-pattern[]=husky
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*commitlint*
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=*vite*