# 注释下面代码
public-hoist-pattern[]=husky
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*commitlint*

public-hoist-pattern[]=webpack